#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffd305;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header4-9 H1 {
  font-size: 60px;
  text-align: left;
}
#header2-11 P {
  color: #c1c1c1;
}
#header2-11 H1 {
  color: #ffffff;
}
#slider2-13 H1 {
  color: #ffffff;
}
#slider2-13 P {
  color: #ffffff;
}
